.container{
    margin:100px;
    margin-top:50px;
    text-align: center;
}
input,select,.success{
    margin: 15px ;
}
h2{
    margin-bottom: 50px;
}
button{
    margin-top: 20px;
    padding:8px 40px;
}

.success{
    background-color:rgb(84, 143, 140);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 300px; */
    text-align: center;
}
.navbar{
    background-color: rgb(7, 56, 7);
    margin-bottom: 20px;
}
.nav-link{
    color: white;
    font-size: 18px;
    padding: 10px 30px;
}
.nav-item{
    padding: 0px 15px;
}
.logo{
    margin: 0px 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.logo>img{
    height: 25px;
    margin: 0px 10px 0px 35px;
}
.im{
    height: 20px;
}
.active{
    font-weight: bold;
    color: rgb(153, 255, 0);
}