.cards{
    /* width:300px; */
    /* height: 210px; */
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.card-journey{
    margin: 0px 5px;
}
.dash{
    padding: 0% 2%;
    margin: 0% 2%;
}

.meter>h4{
    margin-top: -5%;
    color: green;
    margin-bottom: 5%;
}
.col-md-4>h5{
    color: grey;
    margin: 10px 0px;
}
.main{
    padding: 20px 40px;
    margin: 3%;
}
.circle{
    margin-left:25%; 
    border-radius:50%;
    background-color: rgb(34, 119, 72);
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.two{
  background-color: rgb(21, 110, 21);
}
.three{
    background-color: rgb(61, 150, 44);
}
.navbar{
    background-color: rgb(7, 56, 7);
    margin-bottom: 20px;
}
.nav-link{
    color: white;
    font-size: 18px;
    padding: 10px 30px;
}
.nav-item{
    padding: 0px 15px;
}
.logo{
    margin: 0px 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.logo>img{
    height: 25px;
    margin: 0px 10px 0px 35px;
}
.im{
    height: 20px;
}
.col-md-8,.col-lg-8{
    padding: 0%;
}
.card>.row{
    margin: 1.5% 0% 1.5% 3%;
}
b{
    font-size: 18px;
}
.notif{
    padding: 25px;
    font-weight: 100;
    font-size: 15px;
    color: green;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(1, 170, 12, 0.452) 2px 2px 15px;
}
.notif>button{
    margin-bottom: 0px;
    margin-top:auto;
}
.active{
    font-weight: bold;
    color: greenyellow;
}

